@import '../../less/variables.less';

.rbc-addons-dnd {
  .rbc-row-content {
    pointer-events: none;

    & .rbc-show-more,
    & .rbc-event {
      pointer-events: all;
    }
  }

  .rbc-addons-dnd-over {
    background-color: rgba(
      red(@date-selection-bg-color),
      green(@date-selection-bg-color),
      blue(@date-selection-bg-color),
      .3
    );
  }

  .rbc-events-container {
    pointer-events: none;
  }

  .rbc-event {
    transition: opacity 150ms;
    pointer-events: all;

    &:hover {
      .rbc-addons-dnd-resize-ns-icon, .rbc-addons-dnd-resize-ew-icon { display: block; }
    }
  }

  &.rbc-addons-dnd-is-dragging .rbc-event {
    pointer-events: none;
    opacity: .30;
    cursor: grab;
  }

  .rbc-addons-dnd-resizable {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .rbc-addons-dnd-resize-ns-anchor {
    width: 100%;
    text-align: center;
    position: absolute;
    &:first-child { top: 0; }
    &:last-child { bottom: 0; }

    .rbc-addons-dnd-resize-ns-icon {
      display: none;
      border-top: 3px double;
      margin: 0 auto;
      width: 10px;
      cursor: ns-resize;
    }
  }

  .rbc-addons-dnd-resize-ew-anchor {
    position: absolute;
    top: 4px;
    bottom: 0;
    &:first-child { left: 0; }
    &:last-child { right: 0; }

    .rbc-addons-dnd-resize-ew-icon {
      display: none;
      border-left: 3px double;
      margin-top: auto;
      margin-bottom: auto;
      height: 10px;
      cursor: ew-resize;
    }
  }
}
