@import './variables.less';

.rbc-time-column {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .rbc-timeslot-group {
    flex: 1;
  }
}

.rbc-timeslot-group {
  display: flex;
  flex-flow: column nowrap;
}

.rbc-time-gutter,
.rbc-header-gutter {
  flex: none;
}

.rbc-label {
  padding: 0 5px;
  font-size: 12px;
  color: #4c4c4c;
}

.rbc-day-slot {
  position: relative;
  //SCROLL HORIZONTAL
  // min-width: 160px;

  .rbc-events-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 4px;
    top: 0;

    &.rbc-is-rtl {
      left: 4px;
      right: 0;
    }
  }

  .rbc-event {
    border: 1px solid @event-border;
    display: flex;
    max-height: 100%;
    min-height: 20px;
    flex-flow: column;
    align-items: flex-start;
    overflow: hidden;
    position: absolute;
    z-index: 6;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.22);
    &:hover {
      z-index: 7;
    }
  }

  .rbc-event-label {
    flex: none;
    padding-right: 5px;
    width: auto;
  }

  .rbc-event-content {
    width: 100%;
    flex: 1 1 0;
    word-wrap: break-word;
    line-height: 1;
    height: 100%;
    min-height: 1em;
    p {
      font-size: 11px;
      text-transform: capitalize;
    }
  }

  .rbc-time-slot {
    background: #fff;
    cursor: crosshair;
    z-index: 1;
    position: relative;
    transition: 0.4s all;
    border-bottom: 1px solid #e8e8e8;

    &.rbc-available {
      box-shadow: -1px 1px 7px 4px rgba(0, 0, 0, 0);
      &:hover {
        background: #ffffff;
        box-shadow: -1px 1px 7px 4px rgba(0, 0, 0, 0.08);
        z-index: 2;

        .rbc-slot-time-hover {
          opacity: 1;
        }
      }
      .rbc-slot-time-hover {
        transition: 0.4s all;
        opacity: 0;
        font-size: 11px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        padding-left: 8px;
        padding-top: 1px;
      }
    }
  }
}

.rbc-time-slot {
  cursor: crosshair;
  height: 24px;

  &.rbc-now {
    font-weight: bold;
  }

  &.rbc-disabled {
    background-size: 8px 8px;
    background-image: linear-gradient(
      45deg,
      transparent 46%,
      rgba(36, 51, 74, 0.2) 49%,
      rgba(36, 51, 74, 0.2) 51%,
      transparent 55%
    );
    background-color: #d2d2d2;
    -webkit-box-shadow: 0 1px 0 0 #d2d2d2 inset !important;
    box-shadow: 0 1px 0 0 #e6e6e6 inset !important;
    border-bottom: 1px solid transparent;
    cursor: default;
  }
}

.rbc-day-header {
  text-align: center;
}
