@import './variables.less';
@import './time-column.less';

.rbc-slot-selection {
  z-index: 10;
  position: absolute;
  background-color: @time-selection-bg-color;
  color: @time-selection-color;
  font-size: 75%;
  width: 100%;
  padding: 3px;
}

.rbc-slot-selecting {
  cursor: move;
}

.rbc-time-view {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  min-height: 0;
  position: relative;
  //SCROLL HORIZONTAL
  // overflow-x: auto;

  .rbc-time-gutter {
    white-space: nowrap;
    //SCROLL HORIZONTAL
    // position: sticky;
    left: 0;
    z-index: 2;
  }

  .rbc-allday-cell {
    box-sizing: content-box;
    width: 100%;
    position: relative;
  }

  .rbc-allday-events {
    position: relative;
    z-index: 4;
  }

  .rbc-row {
    box-sizing: border-box;
    min-height: 20px;
  }
}

.rbc-time-header {
  display: flex;
  flex: 0 0 auto; // should not shrink below height
  flex-direction: row;
  //SCROLL HORIZONTAL
  // overflow-y: auto;
  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefo
  transform: translate3d(0,0,0);
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: all 0.3s;

  &.onScroll{
    top: 60px !important;
    transition: all 0.3s;
    z-index: 9;
  }

  &::-webkit-scrollbar {
    display: none;  // Safari and Chrome
  }

  &.rbc-overflowing {
    border-right: 1px solid @cell-border;
  }

  .rbc-rtl &.rbc-overflowing {
    border-right-width: 0;
    border-left: 1px solid @cell-border;
  }

  > .rbc-row:first-child {
    border-bottom: 1px solid @cell-border;
  }

  > .rbc-row.rbc-row-resource {
    border-bottom: 1px solid @cell-border;
  }

  // .rbc-gutter-cell {
  //   flex: none;
  // }

  // > .rbc-gutter-cell + * {
  //   width: 100%;
  // }
}

.rbc-time-header-content {
  flex: 1;
  min-width: 0;
  flex-direction: column;
  box-shadow: -1px 4px 6px 0px rgba(0, 0, 0, 0.09);
  z-index: 2;

  .rbc-rtl & {
    border-left-width: 0;
  }
}

.rbc-time-content {
  display: flex;
  flex: 1;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 38px;
  //SCROLL HORIZONTAL
  // overflow-y: auto;
  // overflow-x: auto;
  // transform: translate3d(0,0,0);

  > .rbc-time-gutter {
    flex: none;
    background: #f7f7f8;
  }

  > * + * > * {
    border-left: 1px solid @cell-border;
  }

  .rbc-rtl & > * + * > * {
    border-left-width: 0;
    border-right: 1px solid @cell-border;
  }

  > .rbc-day-slot {
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
  }
}

.rbc-current-time-indicator {
  position: absolute;
  z-index: 9999;
  height: 3px;
  border-radius: 200px;
  background-color: @current-time-color;
  pointer-events: none;
}
